#root {
  width: 100vw;
  height: 100vh;
  padding: 0px;
}

body {
  background-color: #17262e;
  padding: 0px;
  margin: 0px;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
}

html {
  padding: 0px;
  overflow: hidden;
}

.app-root {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

