.message {
    border-radius: 8px;
    background-color: #f2f2f2;
    padding-inline: 1rem;
    max-width: 50%;
    min-width: 25%;
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message p {
    margin: 0px;
}

.system-message {
    align-self: start;
}

.user-message {
    align-self: end;
}

.message-shimmer {
    height: 0.5em;
    background-color: darkgrey;
    display: inline-block;
    mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
    animation: message-shimmer 2.5s infinite;
    font-size: 50px;
    max-width: 200px;
}

@keyframes message-shimmer {
  100% {
    mask-position: left
  }
}